version: '3.8'
services:
  mysql-db:
    image: mysql:8.0
    container_name: jasoos-mysql
    ports:
      - "3306:3306" # Map your local port 3306 to the container's port 3306
    environment:
      MYSQL_ROOT_PASSWORD: yourpassword # Sets the root password
      MYSQL_DATABASE: teacherdb # Creates the first database on startup
      MYSQL_USER: user # Optional: create a non-root user
      MYSQL_PASSWORD: password # Optional: password for the non-root user
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  mysql-data:
